<template>


    <v-data-table
        :headers="headers"
        :items="restaurants.data"
        :items-per-page="5"
        :search="search"
    >
        <template v-slot:top>
            <v-toolbar flat color="white">
                <v-toolbar-title>Restaurants</v-toolbar-title>
                <v-divider
                    class="mx-4"
                    inset
                    vertical
                >
                </v-divider>
                <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details
                >
                </v-text-field>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="500px">
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container>
                                <restaurant-form
                                    :form="editedItem"
                                    :is-editing="isEditing"
                                    @updated="onRestaurantUpdated"
                                    @created="onRestaurantUpdated"
                                >
                                </restaurant-form>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-toolbar>
        </template>

        <template v-slot:item.image_path="{ item }">
            <v-img
                max-height="100"
                max-width="100"
                contain
                :src="item.image_url">
            </v-img>
        </template>
        <template v-slot:item.actions="{ item }">
            <v-icon
                small
                class="mr-2"
                @click="editItem(item)"
            >
                mdi-pencil
            </v-icon>
            <v-icon
                small
                @click.stop="handleClick(item)"
            >
                mdi-delete
            </v-icon>
        </template>

    </v-data-table>

</template>
<style>

</style>
<script>
    import {mapActions, mapGetters} from "vuex";
    import {DELETE_RESTAURANT, GET_RESTAURANTS_LIST} from "../../store/actions/restaurants";
    import RestaurantForm from "../../components/RestaurantForm";
    import {GET_USERS_LIST} from "../../store/actions/user";

    export default {
        name: "admin-restaurants",
        components: {
            RestaurantForm
        },
        data() {
            return {
                headers: [
                    {text: 'ID', value: 'id'},
                    {text: 'Name', value: 'name'},
                    {text: 'Description', value: 'description'},
                    {text: 'Image', value: 'image_path'},
                    {text: 'Owner', value: 'owner.email'},
                    {text: 'Actions', value: 'actions', sortable: false},
                ],
                loading: false,
                isEditing: false,
                menu: false,
                rules: {
                    required: value => !!value || 'Required.',
                    counter: value => value.length <= 20 || 'Max 255 characters',
                    email: value => {
                        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                        return pattern.test(value) || 'Invalid e-mail.'
                    },
                },
                dialog: false,
                editedIndex: -1,
                current_page: 1,
                search: '',
                editedItem: {
                    id: '',
                    name: '',
                    description: '',
                    image: '',
                    image_path: '',
                    owner_id: '',
                    owner: '',
                },
                defaultItem: {
                    id: '',
                    name: '',
                    description: '',
                    image: '',
                    image_path: '',
                    owner_id: '',
                    owner: ''
                }
            };
        },
        methods: {
            handleClick(item){
                let self = this
                this.$vueConfirm.confirm(
                    {
                        auth: false,
                        message: `Are you sure?`,
                        button: {
                            no: 'No',
                            yes: 'Yes'
                        }
                    },
                    function(confirm) {
                        if (confirm == true) {
                            self.deleteItem(item)
                        }
                    }
                )
            },
            ...mapActions({
                deleteRestaurant: DELETE_RESTAURANT,
                getUsers: GET_USERS_LIST
            }),
            editItem(item) {
                this.isEditing = true
                this.editedIndex = this.restaurants.data.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem(item) {
                this.deleteRestaurant(item)
                this.dialog2 = false
            },

            close() {
                this.dialog = false
                setTimeout(() => {
                    this.isEditing = false
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            onRestaurantUpdated(item) {
                this.close()
            },
        },
        computed: {
            ...mapGetters(["isAdmin", "isOwner", "isUser"]),
            formTitle() {
                return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
            },
            ...mapGetters({restaurants: GET_RESTAURANTS_LIST}),
            ...mapGetters({ownerEmails: GET_USERS_LIST}),
        },
        watch: {
            dialog(val) {
                val || this.close()
            }
        },
    };
</script>
