<template>
    <v-app>
        <v-container>
            <v-data-table
                :headers="isAdmin ? headers : userHeaders"
                :items="reviews.data"
                :items-per-page="5"
                :search="search"
            >
                <template v-slot:top>
                    <v-toolbar flat color="white">
                        <v-toolbar-title>Reviews</v-toolbar-title>
                        <v-divider
                            class="mx-4"
                            inset
                            vertical
                        >
                        </v-divider>
                        <v-text-field
                            v-model="search"
                            append-icon="mdi-magnify"
                            label="Search"
                            single-line
                            hide-details
                        >
                        </v-text-field>
                        <v-spacer></v-spacer>
                        <v-dialog v-model="dialog" max-width="500px">
                            <v-card>
                                <v-card-title>
                                    <span class="headline">{{ formTitle }}</span>
                                </v-card-title>

                                <v-card-text>
                                    <v-container>
                                        <review-form
                                            :review="editedItem"
                                            :restaurant="editedItem.restaurant"
                                            :is-editing="isEditing"
                                            @updated="onReviewUpdated"
                                            @created="onReviewUpdated"
                                        >
                                        </review-form>
                                    </v-container>
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-toolbar>
                </template>

                <template v-if="isAdmin" v-slot:item.actions="{ item }">
                    <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                    >
                        mdi-pencil
                    </v-icon>
                    <v-icon
                        small
                        @click.stop="handleClick(item)"
                    >
                        mdi-delete
                    </v-icon>

                </template>

                <v-overlay :value="loading">
                    <v-progress-circular indeterminate size="64"></v-progress-circular>
                </v-overlay>
            </v-data-table>
        </v-container>
    </v-app>
</template>
<style>

</style>
<script>
    import {mapActions, mapGetters} from "vuex";
    import {DELETE_REPLY, DELETE_REVIEW, GET_REPLIES, GET_REVIEWS} from "../../store/actions/reviews";
    import ReviewForm from "../../components/ReviewForm";
    import {GET_RESTAURANTS_LIST} from "../../store/actions/restaurants";

    export default {
        name: "admin-reviews",
        components: {
            ReviewForm
        },
        async mounted() {
            this.loading = true;
            await this.getReviews(this.page);
            this.loading = false;
        },
        data() {
            return {
                loading: false,
                rating: 5,
                isEditing: false,
                menu: false,
                rules: {
                    required: value => !!value || 'Required.',
                    counter: value => value.length <= 20 || 'Max 255 characters',
                    email: value => {
                        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                        return pattern.test(value) || 'Invalid e-mail.'
                    },
                },
                dialog: false,
                editedIndex: -1,
                current_page: 1,
                search: '',
                headers: [
                    {text: 'ID', value: 'id'},
                    {text: 'Reviewer', value: 'author_name'},
                    {text: 'Restaurant', value: 'restaurant.name'},
                    {text: 'Comment', value: 'body'},
                    {text: 'Rate', value: 'rate'},
                    {text: 'Reply', value: 'reply.body'},
                    {text: 'Visit date', value: 'visit_date'},
                    {text: 'Actions', value: 'actions', sortable: false},
                ],
                userHeaders: [
                    {text: 'ID', value: 'id'},
                    {text: 'Reviewer', value: 'author_name'},
                    {text: 'Restaurant', value: 'restaurant.name'},
                    {text: 'Comment', value: 'body'},
                    {text: 'Rate', value: 'rate'},
                    {text: 'Reply', value: 'reply.body'},
                    {text: 'Visit date', value: 'visit_date'},
                ],
                editedItem: {
                    id: '',
                    user_id: '',
                    restaurant_id: '',
                    body: '',
                    author_name: '',
                    rate: '',
                    visit_date: '',
                    restaurant: '',
                },
                defaultItem: {
                    id: '',
                    user_id: '',
                    restaurant_id: '',
                    body: '',
                    author_name: '',
                    rate: '',
                    visit_date: '',
                    restaurant: '',
                }
            };
        },
        methods: {
            handleClick(item){
                let self = this
                this.$vueConfirm.confirm(
                    {
                        auth: false,
                        message: `Are you sure?`,
                        button: {
                            no: 'No',
                            yes: 'Yes'
                        }
                    },
                    function(confirm) {
                        if (confirm == true) {
                            self.deleteItem(item)
                        }
                    }
                )
            },
            ...mapActions({
                deleteReview: DELETE_REVIEW,
                getReviews: GET_REVIEWS,
            }),
            editItem(item) {
                this.isEditing = true
                this.editedIndex = this.reviews.data.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem(item) {
                this.deleteReview(item)
                this.dialog2 = false
            },

            close() {
                this.dialog = false
                setTimeout(() => {
                    this.isEditing = false
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            onReviewUpdated(item) {
                this.close()
            },
        },
        computed: {
            page: {
                get() {
                    return this.current_page;
                },
                async set(value) {
                    this.current_page = value;
                    this.loading = true;
                    await this.getReviews(this.page);
                    this.loading = false;
                }
            },
            ...mapGetters(["isAdmin", "isOwner", "isUser"]),
            formTitle() {
                return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
            },
            ...mapGetters({reviews: GET_REVIEWS}),
        },
        watch: {
            dialog(val) {
                val || this.close()
            }
        },
    };
</script>
<style>
    .admin-action-head {
        display: none;
    }
</style>
