<template>
    <v-app>
        <v-container v-if="!isAdmin">
            <v-row justify="end">
                <v-col cols="2">
                    <v-btn color="primary" @click="go" v-if="isOwner">Add restaurant</v-btn>
                </v-col>
            </v-row>

            <v-row>
                <v-col cols="4">
                    Filter by average rating:
                    <v-select
                        v-model="rating"
                        :items="items"
                        @change="filterByRate()"
                    ></v-select>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="2">
                    Total restaurants: {{ restaurants.total }}
                </v-col>
            </v-row>


            <v-list three-line>
                <RestaurantItem
                    v-for="restaurant in restaurants.data"
                    v-bind:key="restaurant.id"
                    v-bind:restaurant="restaurant"
                ></RestaurantItem>
            </v-list>

            <v-row justify="end">
                <v-col cols="6">
                <v-pagination
                    v-model="page"
                    :length="restaurants.last_page"
                    :total-visible="5"
                    circle
                    dark
                ></v-pagination>
                </v-col>
                <v-col cols="2">
                <v-select
                    v-model="perPage"
                    :items="perPageItems"
                    @change="updPerPage()"
                ></v-select>
                </v-col>
            </v-row>
        </v-container>

        <v-container v-if="isAdmin">
            <admin-restaurants>
            </admin-restaurants>
        </v-container>

        <v-overlay :value="loading">
            <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>
    </v-app>
</template>
<style>
.restaurant-item:nth-child(odd){
  background-color:white;
}
.restaurant-item:nth-child(even){
  background-color:#f3f2f2;
}
</style>
<script>
import { mapActions, mapGetters, mapState } from "vuex";
import RestaurantItem from "../components/RestaurantItem";
import AdminRestaurants from "../components/admin/AdminRestaurants";
import {GET_RESTAURANTS_LIST, GET_USER_RESTAURANTS_LIST} from "../store/actions/restaurants";
import {GET_USERS_LIST} from "../store/actions/user";

export default {
    name: "restaurants",
    data() {
        return {
            items: [
                { text: 'Any Rating', value: 'any'},
                { text: '1+ Star Rating', value: 1},
                { text: '2+ Star Rating', value: 2},
                { text: '3+ Star Rating', value: 3},
                { text: '4+ Star Rating', value: 4},
                { text: '5 Start Rating (Best)', value: 5},
                ],
            perPageItems: [
                { text: '5/page', value: 5},
                { text: '10/page', value: 10},
                { text: '15/page', value: 15},
                { text: '20/page', value: 20},
            ],
            current_page: 1,
            loading: false,
            rating: 'any',
            perPage: 5,
        };
    },
    components: {
        RestaurantItem,
        AdminRestaurants
    },
    methods: {
        ...mapActions({ getRestaurants: GET_RESTAURANTS_LIST }),
        go() {
            this.$router.push({
                name: "restaurants-create",
            });
        },
        async fetchRestaurants() {
            await this.getRestaurants({
                page: this.page,
                per_page: this.perPage,
                filterBy: {
                    rate: this.rating
                }
            });
        },

        async updPerPage() {
            this.loading = true;
            this.current_page = 1
            await this.fetchRestaurants();
            this.loading = false;
        },

        async filterByRate() {
            this.loading = true;
            this.current_page = 1
            await this.fetchRestaurants();
            this.loading = false;
        }
    },
    computed: {
        page: {
            get() {
                return this.current_page;
            },
            async set(value) {
                this.current_page = value;
                this.loading = true;
                await this.getRestaurants({
                    page: this.page,
                    per_page: this.perPage,
                    filterBy: {
                        rate: this.rating
                    }
                });
                this.loading = false;
            }
        },
        ...mapGetters(['isAdmin', 'isOwner', 'isUser']),
        ...mapGetters({ restaurants: GET_RESTAURANTS_LIST}),
        // ...mapGetters({ userRestaurants: GET_USER_RESTAURANTS_LIST}),
    },
    async mounted() {
        this.loading = true;
        await this.fetchRestaurants();
        this.loading = false;
    }
};
</script>
