<template>
    <v-app>
        <v-container v-if="restaurant">
            <v-row>
                <h1>{{ restaurant.name }}</h1>
            </v-row>
            <v-row>
                <v-col cols="12">
                    <v-row align="center"
                           justify="start">
                        <v-col cols="6">
                            <v-img
                                max-height="300"
                                :src="restaurant.image_url"
                                alt=""
                                class="restaurant-image"
                            />
                        </v-col>

                        <v-col cols="6">
                            <p>{{ restaurant.description }}</p>

                            <p class="font-weight-medium subtitle-2">
                <span>
                    <v-icon small>mdi-comment-multiple</v-icon>
                    {{ restaurant.reviews_count }} Reviews
                </span>
                                <span v-if="restaurant.average">
                    <v-icon small>mdi-star</v-icon>Average rating:
                    {{ restaurant.average }}
                </span>
                            </p>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>


            <review-form v-if="isUser || (isOwner && restaurant.owner_id !== Number(getUserId))"
                         @created="onReviewCreated" :restaurant="restaurant" class="mb-6"/>

            <h2 class="mb-4">Review with highest rating</h2>
            <ReviewItem
                v-if="restaurant.highest_review"
                class="mb-4"
                v-bind:review="restaurant.highest_review"
            />
            <h2 class="mb-4">Review with lowest rating</h2>
            <ReviewItem class="mb-4" v-if="restaurant.lowest_review" v-bind:review="restaurant.lowest_review"/>
            <h2 class="mb-4" v-if="reviewsList.length">Other reviews</h2>
            <ReviewItem
                class="mb-4"
                v-for="review in reviewsList"
                v-bind:key="review.id"
                v-bind:review="review"
            />
        </v-container>

        <v-overlay :value="loading">
            <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>
    </v-app>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import {
        GET_RESTAURANT,
        GET_RESTAURANT_REVIEWS
    } from "../store/actions/restaurants";
    import {CREATE_REVIEW} from "../store/actions/reviews";
    import ReviewItem from "../components/ReviewItem";
    import ReviewForm from "../components/ReviewForm";

    export default {
        name: "restaurant",
        data() {
            return {
                restaurant: null,
                reviews: null,
                loading: false,
            };
        },
        components: {
            ReviewForm,
            ReviewItem
        },
        methods: {
            ...mapActions({
                getRestaurant: GET_RESTAURANT,
                getRestaurantReviews: GET_RESTAURANT_REVIEWS,
                createReview: CREATE_REVIEW
            }),

            async onReviewCreated(data) {
                this.loading = true;
                await this.fetchReviews(this.restaurant.id);
                this.loading = false;
            },

            async fetchRestaurantData(restaurant_id) {
                let restaurantResponse = await this.getRestaurant(restaurant_id);
                this.restaurant = restaurantResponse.data;
            },

            async fetchReviews(restaurant_id) {
                let reviewsResponse = await this.getRestaurantReviews(restaurant_id);
                this.reviews = reviewsResponse.data;
            },
        },
        computed: {
            ...mapGetters(["isAdmin", "isOwner", "isUser", "getUserId"]),
            reviewsList() {
                if (!this.reviews) {
                    return {}
                }

                return this.reviews.data.filter(item => {
                    return (
                        item.id !== this.restaurant.highest_review.id &&
                        item.id !== this.restaurant.lowest_review.id
                    );
                });
            },
        },

        async created() {
            this.loading = true;
            let {restaurant_id} = this.$route.params;

            await this.fetchRestaurantData(restaurant_id);
            await this.fetchReviews(restaurant_id);

            this.loading = false;
        }
    };
</script>
