<template>
    <v-app>
        <v-container fluid v-if="isOwner">
            <v-layout row wrap>
                <v-col cols="12" class="text-center">
                    <h1>Add restaurant</h1>
                </v-col>
                <v-col
                        cols="12"
                        offset-lg="4"
                        offset-md="3"
                        offset-sm="1"
                        lg="4"
                        md="6"
                        sm="10"
                        xs="12"
                >
                    <restaurant-form @created="onRestaurantCreated"></restaurant-form>

                </v-col>
            </v-layout>
        </v-container>
    </v-app>
</template>

<script>
import RestaurantForm from "../components/RestaurantForm";
import { mapGetters } from 'vuex';

export default {
    name: "restaurant-create",
    components: {
        RestaurantForm,
    },
    computed: {
        ...mapGetters(["isAdmin", "isOwner", "isUser"]),
    },

    methods: {
        onRestaurantCreated() {
            this.$router.push({
                name: "restaurants",
            });
        },
    },
};
</script>
