<template>
    <v-app>
        <v-container fluid>
            <v-layout row wrap>
                <v-col cols="12" class="text-center">
                    <h1>Sign Up</h1>
                </v-col>
                <v-col
                    cols="12"
                    offset-lg="4"
                    offset-md="3"
                    offset-sm="1"
                    lg="4"
                    md="6"
                    sm="10"
                    xs="12"
                >
                    <ValidationObserver
                        ref="observer"
                        v-slot="{ invalid }"
                        tag="form"
                        @submit.prevent="submit()"
                    >
                        <v-row>
                            <v-col cols="12" md="6" class="pt-0 pb-0">
                                <ValidationProvider
                                    v-slot="{ errors }"
                                    name="First name"
                                    rules="required|max:255"
                                >
                                    <v-text-field
                                        v-model="user.first_name"
                                        :counter="255"
                                        :error-messages="errors"
                                        label="First name"
                                        required
                                    ></v-text-field>
                                </ValidationProvider>
                            </v-col>
                            <v-col cols="12" md="6" class="pt-0 pb-0">
                                <ValidationProvider
                                    v-slot="{ errors }"
                                    name="Last name"
                                    rules="required|max:255"
                                >
                                    <v-text-field
                                        v-model="user.last_name"
                                        :counter="255"
                                        :error-messages="errors"
                                        label="Last name"
                                        required
                                    ></v-text-field>
                                </ValidationProvider>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" class="pt-0 pb-0">
                                <ValidationProvider
                                    ref="user_email"
                                    v-slot="{ errors }"
                                    name="Email"
                                    rules="email|required|max:255"
                                >
                                    <v-text-field
                                        v-model="user.email"
                                        :counter="255"
                                        :error-messages="errors"
                                        label="Email"
                                        required
                                    ></v-text-field>
                                </ValidationProvider>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" class="pt-0 pb-0">
                                <v-menu
                                    ref="menu"
                                    v-model="menu"
                                    :close-on-content-click="false"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                                >
                                    <template v-slot:activator="{ on }">
                                        <ValidationProvider
                                            v-slot="{ errors }"
                                            name="Birthday"
                                            rules="required"
                                        >
                                        <v-text-field
                                            v-model="user.birthday_date"
                                            :error-messages="errors"
                                            label="Birthday"
                                            required
                                            readonly
                                            v-on="on"
                                        ></v-text-field>
                                        </ValidationProvider>
                                    </template>
                                    <v-date-picker
                                        ref="picker"
                                        v-model="user.birthday_date"
                                        :max="
                                            new Date()
                                                .toISOString()
                                                .substr(0, 10)
                                        "
                                        min="1950-01-01"
                                        @change="saveBirthdayDate"
                                    ></v-date-picker>
                                </v-menu>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" md="6" class="pt-0 pb-0">
                                <ValidationProvider
                                    name="Password"
                                    rules="required|password:@confirm|min:8"
                                    v-slot="{ errors }"
                                >
                                    <v-text-field
                                        v-model="user.password"
                                        :counter="255"
                                        :error-messages="errors"
                                        type="password"
                                        label="Password"
                                        required
                                    ></v-text-field>
                                </ValidationProvider>
                            </v-col>
                            <v-col cols="12" md="6" class="pt-0 pb-0">
                                <ValidationProvider
                                    name="confirm"
                                    rules="required|min:8"
                                    v-slot="{ errors }"
                                >
                                    <v-text-field
                                        v-model="user.repeat_password"
                                        :counter="255"
                                        :error-messages="errors"
                                        type="password"
                                        label="Repeat password"
                                        required
                                    ></v-text-field>
                                </ValidationProvider>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" class="pt-0 pb-0">
                                <v-checkbox
                                    v-model="user.isOwner"
                                    value="1"
                                    label="I'm a restaurant owner"
                                    type="checkbox"
                                ></v-checkbox>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" class="text-center">
                                <v-btn
                                    color="primary"
                                    type="submit"
                                    :disabled="invalid || loading"
                                >
                                    <v-progress-circular
                                        indeterminate
                                        color="primary"
                                        size="20"
                                        v-if="loading"
                                    ></v-progress-circular>
                                    Sign Up
                                </v-btn>
                            </v-col>
                        </v-row>
                    </ValidationObserver>
                </v-col>
            </v-layout>
        </v-container>
    </v-app>
</template>

<script>
import { required, email, max, min } from "vee-validate/dist/rules";
import { mapActions } from "vuex";
import { USER_SIGNUP } from "../store/actions/user";
import {
    extend,
    ValidationObserver,
    ValidationProvider,
    setInteractionMode
} from "vee-validate";
setInteractionMode("eager");

export default {
    name: "sign-up",
    components: {
        ValidationProvider,
        ValidationObserver
    },
    data() {
        return {
            loading: false,
            menu: false,
            user: {
                first_name: "",
                last_name: "",
                password: "",
                repeat_password: "",
                email: "",
                birthday_date: "",
                isOwner: 0
            }
        };
    },
    computed: {},
    watch: {
        menu(val) {
            val && setTimeout(() => (this.$refs.picker.activePicker = "YEAR"));
        }
    },
    methods: {
        ...mapActions({ signup: USER_SIGNUP }),
        submit() {
            this.loading = true;
            this.signup(this.user)
                .then(resp => {
                    this.loading = false;
                    this.$router.push("/sign-in");
                })
                .catch(error => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        let errors = error.response.data.errors;
                        for (let [field, message] of Object.entries(errors)) {
                            this.$refs["user_" + field].applyResult({
                                errors: message,
                                valid: false,
                                failedRules: {}
                            });
                        }
                    }
                });
        },
        saveBirthdayDate(date) {
            this.$refs.menu.save(date);
        }
    }
};
</script>
