<template>
    <v-app>
        <v-container fluid>
            <v-layout row wrap>
                <v-col cols="12" class="text-center">
                    <h1>Sign In</h1>
                </v-col>
                <v-col
                    cols="12"
                    offset-lg="4"
                    offset-md="3"
                    offset-sm="1"
                    lg="4"
                    md="6"
                    sm="10"
                    xs="12"
                >
                    <ValidationObserver
                        ref="observer"
                        v-slot="{ invalid }"
                        tag="form"
                        @submit.prevent="submit()"
                    >
                        <v-row>
                            <v-col cols="12" class="pt-0 pb-0">
                                <ValidationProvider
                                    ref="email"
                                    v-slot="{ errors }"
                                    name="Email"
                                    rules="email|required|max:255"
                                >
                                    <v-text-field
                                        v-model="email"
                                        :error-messages="errors"
                                        label="Email"
                                        required
                                    ></v-text-field>
                                </ValidationProvider>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" class="pt-0 pb-0">
                                <ValidationProvider
                                    ref="password"
                                    name="Password"
                                    rules="required|min:1"
                                    v-slot="{ errors }"
                                >
                                    <v-text-field
                                        v-model="password"
                                        :error-messages="errors"
                                        min="1"
                                        type="password"
                                        label="Password"
                                        required
                                    ></v-text-field>
                                </ValidationProvider>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" class="text-center">
                                <v-btn
                                    color="primary"
                                    type="submit"
                                    :disabled="invalid || loading"
                                >
                                    <v-progress-circular
                                        indeterminate
                                        color="primary"
                                        size="20"
                                        v-if="loading"
                                    ></v-progress-circular>
                                    Sign In
                                </v-btn>
                            </v-col>
                        </v-row>
                    </ValidationObserver>
                </v-col>
            </v-layout>
        </v-container>
    </v-app>
</template>

<script>
import { mapActions } from "vuex";
import { required, email, min } from "vee-validate/dist/rules";
import { AUTH_REQUEST } from "../store/actions/auth";
import {
    extend,
    ValidationObserver,
    ValidationProvider,
    setInteractionMode
} from "vee-validate";

setInteractionMode("eager");

export default {
    name: "sign-in",
    components: {
        ValidationProvider,
        ValidationObserver
    },
    data() {
        return {
            loading: false,
            email: "",
            password: ""
        };
    },
    methods: {
        ...mapActions({ AUTH_REQUEST }),
        submit() {
            this.loading = true;
            let email = this.email;
            let password = this.password;
            this.AUTH_REQUEST({ email, password })
                .then(() => {
                    this.loading = false;
                    this.$router.push("/restaurants");
                })
                .catch(error => {
                    this.loading = false;
                    let message = error.response.data.message;
                    this.$refs.email.applyResult({
                        errors: [message]
                    });
                });
        }
    }
};
</script>
