<template>
    <v-app>
        <v-container v-if="isAdmin">
            <v-data-table
                :headers="headers"
                :items="users.data"
                :items-per-page="5"
                :search="search"
            >
                <template v-slot:top>
                    <v-toolbar flat color="white">
                        <v-toolbar-title>Users</v-toolbar-title>
                        <v-divider
                            class="mx-4"
                            inset
                            vertical
                        ></v-divider>
                        <v-text-field
                            v-model="search"
                            append-icon="mdi-magnify"
                            label="Search"
                            single-line
                            hide-details
                        >
                        </v-text-field>
                        <v-spacer></v-spacer>
                        <v-dialog v-model="dialog" max-width="500px">
                            <template v-slot:activator="{ on }">
                                <v-btn v-show="false" color="primary" dark class="mb-2" v-on="on">New Item</v-btn>
                            </template>
                            <v-card>
                                <v-card-title>
                                    <span class="headline">{{ formTitle }}</span>
                                </v-card-title>

                                <v-card-text>
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12">
                                                <v-text-field
                                                    v-model="editedItem.first_name"
                                                    :rules="[rules.required, rules.counter]"
                                                    label="First name">
                                                </v-text-field>
                                            </v-col>
                                            <v-col cols="12">
                                                <v-text-field
                                                    v-model="editedItem.last_name"
                                                    :rules="[rules.required, rules.counter]"
                                                    label="Last name">
                                                </v-text-field>
                                            </v-col>
                                            <v-col cols="12">
                                                <v-text-field
                                                    v-model="editedItem.email"
                                                    :rules="[rules.required, rules.email]"
                                                    label="Email">
                                                </v-text-field>
                                            </v-col>
                                            <v-col cols="12">
                                                <v-menu
                                                    ref="menu"
                                                    v-model="menu"
                                                    :close-on-content-click="false"
                                                    transition="scale-transition"
                                                    offset-y
                                                    min-width="290px"
                                                >
                                                    <template v-slot:activator="{ on }">
                                                        <v-text-field
                                                            v-model="editedItem.birthday_date"
                                                            label="Birthday date"
                                                            readonly
                                                            v-on="on"
                                                        >
                                                        </v-text-field>
                                                    </template>
                                                    <v-date-picker
                                                        ref="picker"
                                                        v-model="editedItem.birthday_date"
                                                        :max="new Date().toISOString().substr(0, 10)"
                                                        min="1950-01-01"
                                                        @change="saveDate"
                                                    >
                                                    </v-date-picker>
                                                </v-menu>
                                            </v-col>
                                            <v-col cols="12">
                                                <v-select
                                                    :items="roles"
                                                    v-model="editedItem.role"
                                                    label="Role"
                                                    :rules="[rules.required]"
                                                >
                                                </v-select>
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                                    <v-btn :disabled="!formIsValid" color="blue darken-1" text @click="save">Save</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-toolbar>
                </template>
                <template v-slot:item.actions="{ item }">
                    <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                    >
                        mdi-pencil
                    </v-icon>
                    <v-icon
                        small
                        @click.stop="handleClick(item)"
                    >
                        mdi-delete
                    </v-icon>
                </template>
            </v-data-table>
        </v-container>
    </v-app>
</template>
<style>

</style>
<script>
    import {mapActions, mapGetters} from "vuex";
    import {GET_USERS_LIST, EDIT_USER, DELETE_USER} from "../store/actions/user";

    export default {
        name: "users",
        data() {
            return {
                dialog2: false,
                roles: ['admin', 'owner', 'user'],
                menu: false,
                rules: {
                    required: value => !!value || 'Required.',
                    counter: value => value.length <= 20 || 'Max 255 characters',
                    email: value => {
                        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                        return pattern.test(value) || 'Invalid e-mail.'
                    },
                },
                dialog: false,
                editedIndex: -1,
                current_page: 1,
                loading: false,
                search: '',
                headers: [
                    {text: 'ID', value: 'id'},
                    {text: 'First name', value: 'first_name'},
                    {text: 'Last name', value: 'last_name'},
                    {text: 'Email', value: 'email'},
                    {text: 'Birthday', value: 'birthday_date'},
                    {text: 'Role', value: 'role'},
                    {text: 'Actions', value: 'actions', sortable: false},
                ],
                editedItem: {
                    first_name: '',
                    last_name: '',
                    email: '',
                    birthday_date: '',
                    role: '',
                },
                defaultItem: {
                    first_name: '',
                    last_name: '',
                    email: '',
                    birthday_date: '',
                    role: '',
                }
            };
        },
        methods: {
            handleClick(item){
                let self = this
                this.$vueConfirm.confirm(
                    {
                        auth: false,
                        message: `Are you sure?`,
                        button: {
                            no: 'No',
                            yes: 'Yes'
                        }
                    },
                    function(confirm) {
                        if (confirm == true) {
                            self.deleteItem(item)
                        }
                    }
                )
            },
            ...mapActions({
                getUsers: GET_USERS_LIST,
                editUser: EDIT_USER,
                deleteUser: DELETE_USER,
            }),
            editItem(item) {
                this.editedIndex = this.users.data.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem(item) {
                this.deleteUser(item)
                this.dialog2 = false
            },

            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            async save() {
                this.loading = true;
                if (this.editedIndex > -1) {
                    Object.assign(this.users.data[this.editedIndex], this.editedItem)

                    try {
                        let response = await this.editUser(this.editedItem);
                    } catch (error) {
                        console.log(error);
                    }

                } else {
                    this.users.data.push(this.editedItem)
                }
                this.loading = false;
                this.close()
            },

            saveDate(date) {
                this.$refs.menu.save(date)
            },
        },
        computed: {
            formIsValid () {
                return (
                    this.editedItem.first_name &&
                    this.editedItem.last_name &&
                    this.editedItem.email &&
                    this.editedItem.birthday_date &&
                    this.editedItem.role
                )
            },
            page: {
                get() {
                    return this.current_page;
                },
                async set(value) {
                    this.current_page = value;
                    this.loading = true;
                    await this.getUsers(this.page);
                    this.loading = false;
                }
            },
            ...mapGetters(["isAdmin", "isOwner", "isUser"]),
            ...mapGetters({users: GET_USERS_LIST, role: 'getUserRole'}),
            formTitle() {
                return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
            }
        },
        watch: {
            dialog(val) {
                val || this.close()
            },
            menu(val) {
                val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
            },
        },
        async mounted() {
            this.loading = true;
            await this.getUsers(this.page);
            this.loading = false;
        }
    };
</script>
