<template>
    <v-app>
        <v-navigation-drawer v-model="sidebar" app>
            <v-list>
                <v-list-item
                    v-for="item in items"
                    :key="item.title"
                    :to="item.path"
                >
                    <v-list-item-content>
                        {{ item.title }}
                    </v-list-item-content>
                </v-list-item>
                <v-list-item v-if="isAuthenticated()">
                    <v-list-item-content>
                        Logout
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
        <v-app-bar dense dark>
            <span class="hidden-sm-and-up">
                <v-app-bar-nav-icon @click="sidebar = !sidebar" />
            </span>
            <v-toolbar-title>
                <router-link to="/" tag="span" style="cursor: pointer">
                    {{ appTitle }}
                </router-link>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items class="hidden-xs-only">
                <v-btn v-for="item in items" :key="item.title" :to="item.path">
                    <v-icon left dark v-text="item.icon"></v-icon>
                    {{ item.title }}
                </v-btn>

                <v-btn v-if="isAuthenticated()" @click="logout">
                    Logout
                </v-btn>
            </v-toolbar-items>
        </v-app-bar>

        <v-content>
            <router-view></router-view>
        </v-content>
        <vue-confirm-dialog></vue-confirm-dialog>
        <FlashMessage></FlashMessage>
    </v-app>
</template>
<script>
import { AUTH_LOGOUT } from "../store/actions/auth";
import { mapGetters, mapActions } from "vuex";
export default {
    name: "App",
    data() {
        return {
            appTitle: "Restaurants reviews",
            sidebar: false
        };
    },
    methods: {
        ...mapGetters(["isAuthenticated"]),
        ...mapActions([AUTH_LOGOUT]),
        logout() {
            this.AUTH_LOGOUT().then(() => {
                this.$router.push("/sign-in");
            });
        }
    },
    computed: {
        menuItems() {
            return [
                {
                    title: "Sign Up",
                    path: "/sign-up",
                    icon: "mdi-account-plus",
                    show: !this.isAuthenticated()
                },
                {
                    title: "Sign In",
                    path: "/sign-in",
                    icon: "mdi-login",
                    show: !this.isAuthenticated()
                },
                {
                    title: "Restaurants",
                    path: "/restaurants",
                    icon: "mdi-silverware-fork-knife",
                    show:this.isAuthenticated()
                },
                {
                    title: "Users",
                    path: "/profile/list",
                    icon: "mdi-face",
                    show: this.isAdmin
                },
                {
                    title: "Reviews",
                    path: "/reviews",
                    icon: "mdi-message-draw",
                    show: this.isAuthenticated()
                }
            ];
        },
        ...mapGetters(["isAdmin", "isOwner", "isUser"]),

        items() {
            return this.menuItems.filter(item => item.show);
        }
    }
};
</script>
<style>
    .vc-title {
        color: black !important;
        padding: 0 1rem !important;
        width: 100% !important;
        font-weight: 900 !important;
        text-align: center !important;
        font-size: 16px !important;
        line-height: initial !important;
        margin-bottom: 5px !important;
    }

    .vc-text {
        color: black !important;
        padding: 0 1rem !important;
        width: 100% !important;
        font-weight: 500 !important;
        text-align: center !important;
        font-size: 14px !important;
        line-height: initial !important;
    }

    .vc-overlay {
        background: rgba(0, 0, 0, 0.29);
        width: 100%;
        height: 100%;
        transition: all 0.1s ease-in;
        left: 0;
        top: 0;
        z-index: 999999999999;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: baseline;
    }

    .vc-container {
        background: white;
        border-radius: 1rem;
        width: 286px;
        height: auto;
        display: grid;
        grid-template-rows: 1fr auto;
        box-shadow: rgba(0, 0, 0, 0.29) 0px 3px 8px 0px;
    }

    .vc-text-grid {
        padding: 1rem;
    }

    .vc-btn-grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 50px;
        border-radius: 0 0 1rem 1rem;
        overflow: hidden;
    }

    .vc-btn-grid.isMono {
        grid-template-columns: 1fr;
    }

    .vc-btn {
        border-radius: 0 0 1rem 0;
        color: cornflowerblue;
        background: white;
        border: 0;
        font-size: 1rem;
        border-top: 1px solid rgb(224, 224, 224);
        cursor: pointer;
        font-weight: 700;
        outline: none;
    }

    .vc-btn:hover {
        background: whitesmoke;
    }

    .vc-btn:disabled {
        background: whitesmoke;
    }

    .vc-btn:active {
        box-shadow: inset 0 2px 0px 0px #00000014;
    }

    .vc-btn.left {
        border-radius: 0;
        /* color: black; */
        border-right: 1px solid #e0e0e0;
    }

    .vc-input[type="password"] {
        width: 100%;
        outline: none;
        border-radius: 8px;
        height: 35px;
        border: 0;
        margin: 5px 0;
        background-color: #ebebeb;
        padding: 0 0.5rem;
        font-size: 16px;
        transition: 0.21s ease;
    }

    .vc-input[type="password"]:hover,
    .vc-input[type="password"]:focus {
        background-color: #dfdfdf;
    }
</style>
