<template>
    <v-app>
        <v-btn small color="primary"> test</v-btn>
    </v-app>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
