<template>
    <div class="restaurant-item" @click="go">
        <v-list-item :key="restaurant.name">
            <v-list-item-avatar :size="100" tile>
                <v-img :src="restaurant.image_url"></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
                <v-list-item-title v-html="restaurant.name"></v-list-item-title>

                <v-list-item-subtitle
                    v-html="restaurant.description"
                ></v-list-item-subtitle>
                <p class="font-weight-medium subtitle-2">
                    <span>
                        <v-icon small>mdi-comment-multiple</v-icon>
                        {{ restaurant.reviews_count }} Reviews
                    </span>
                    <span v-if="restaurant.average">
                        <v-icon small>mdi-star</v-icon>Average rating:
                        {{ restaurant.average }}
                    </span>
                </p>
            </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
    </div>
</template>
<style>
.restaurant-item {
    cursor: pointer;
}
.restaurant-item:nth-child(odd) {
    background-color: ghostwhite !important;
}
</style>
<script>
export default {
    name: "restaurant-item",
    props: ["restaurant"],
    computed: {
        average() {
            return "Average rating:" + this.restaurant.average;
        }
    },
    methods: {
        go() {
            this.$router.push({
                name: "restaurant-page",
                params: { restaurant_id: this.restaurant.id }
            });
        }
    }
};
</script>
