<template>
    <ValidationObserver
            ref="observer"
            v-slot="{ invalid }"
            tag="form"
            @submit.prevent="submit()"
    >
        <v-row>
            <v-col cols="12" md="12" class="pt-0 pb-0">
                <ValidationProvider
                        v-slot="{ errors }"
                        name="Name"
                        rules="required|max:255"
                >
                    <v-text-field
                            v-model="form.name"
                            :counter="255"
                            :error-messages="errors"
                            label="Name"
                            required
                    ></v-text-field>
                </ValidationProvider>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" md="12" class="pt-0 pb-0">
                <ValidationProvider
                        v-slot="{ errors }"
                        name="Description"
                        rules="required|min:20|max:3000"
                >
                    <v-textarea
                            v-model="form.description"
                            :error-messages="errors"
                            :counter="3000"
                            rows="3"
                            label="Description of your restaurant"
                            required
                    ></v-textarea>
                </ValidationProvider>
            </v-col>
        </v-row>

        <slot name="editingFields"></slot>

        <v-row class="justify-center align-center">
                <v-col cols="12" md="6" class="pt-0 pb-0">
                    <ValidationProvider
                            v-slot="{ errors }"
                            name="Image"
                            :rules="isEditing ? '' : 'required'"
                    >
                        <v-file-input multiple label="Restaurant image"
                                      :error-messages="errors"
                                      @change="onFileUpload"
                                      v-model="image"></v-file-input>
                    </ValidationProvider>
                </v-col>
        </v-row>

        <v-row>
            <v-col cols="12" class="text-center">
                <v-btn
                        color="primary"
                        type="submit"
                        :disabled="invalid || loading"
                >
                    <v-progress-circular
                            indeterminate
                            color="primary"
                            size="20"
                            v-if="loading"
                    ></v-progress-circular>
                    {{ isEditing ? 'Update' : 'Create' }}
                </v-btn>
            </v-col>
        </v-row>
    </ValidationObserver>
</template>

<script>
    import {
        extend,
        ValidationObserver,
        ValidationProvider,
        setInteractionMode
    } from "vee-validate";

    setInteractionMode("eager");

    import { CREATE_RESTAURANT, EDIT_RESTAURANT } from "../store/actions/restaurants";
    import { mapActions } from "vuex";

    export default {
        props: {
            form: {
                type: Object,
                default: function () {
                    return {
                        name: null,
                        description: null,
                        image: null
                    }
                }
            },
            isEditing: {
                type: Boolean,
                default: false
            }
        },
        components: {
            ValidationProvider,
            ValidationObserver
        },

        data: () => ({
            loading: false,
            image: null,
            // form: this.restaurant
        }),

        methods: {
            ...mapActions({
                createRestaurant: CREATE_RESTAURANT,
                editRestaurant: EDIT_RESTAURANT
            }),

            onFileUpload() {
                this.form.image = this.image[0] || null
            },

            submit() {
                this.loading = true;

                let formData = new FormData();
                Object.keys(this.form).forEach((key) => {
                    formData.append(key, this.form[key])
                });

                if (this.isEditing) {
                    formData.append('_method', 'patch')
                    this.editRestaurant(formData)
                        .then(({ data }) => {
                            this.updated(data);
                            this.loading = false;
                        })
                        .catch(error => {
                            console.log(error);
                            this.loading = false;
                            let message = error.response.data.message;
                            this.$refs.name.applyResult({
                                errors: [message]
                            });
                        });
                } else {
                    this.createRestaurant(formData)
                        .then(({ data }) => {
                            this.created(data);
                            if (this.$route.name !== 'restaurants') {
                                this.clearData();
                            }
                            this.loading = false;
                        })
                        .catch(error => {
                            console.log(error);
                            this.loading = false;
                            let message = error.response.data.message;
                            this.$refs.name.applyResult({
                                errors: [message]
                            });
                        });
                }
            },

            created(data) {
                this.$emit('created', data)
            },

            clearData() {
                this.form = {
                    name: null,
                    description: null,
                    image_path: null
                }
            },

            updated(data) {
                this.$emit('updated', data)
            }
        }

    }
</script>
