<template>
    <v-card class="mx-auto" outlined v-if="!removed">
        <v-list-item three-line v-if="!isEditingReview">
            <v-list-item-content>
                <div>
                    <span class="subtitle-2 font-weight-bold">
                        {{ reviewData.author_name }}
                    </span>
                    <span class="caption">
                        visited restaurant at {{ reviewData.visit_date }}
                    </span>
                </div>
                <v-list-item-subtitle class="mb-3">
                    <v-rating
                        color="black"
                        :value="reviewData.rate"
                        x-small
                        readonly
                    ></v-rating>
                </v-list-item-subtitle>
                <p class="body-2 mb-0 pb-0">
                    {{ reviewData.body }}
                </p>
            </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="isEditingReview">
            <v-list-item-content>
                <review-form :review="reviewData" @updated="onReviewUpdated"></review-form>
            </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="!isReplying && hasReply">
            <v-list-item-content>
                <span class="subtitle-2 font-weight-bold">
                    Reply from restaurant owner :
                </span>

                <p class="body-2 mb-0 pb-0">
                    {{ replyData.body }}
                </p>
            </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="isReplying">
            <v-list-item-content>
                <v-divider />
                <ValidationObserver
                    ref="observer"
                    v-slot="{ invalid }"
                    tag="form"
                    @submit.prevent="submitReply()"
                >
                    <ValidationProvider
                        v-slot="{ errors }"
                        name="Reply message"
                        rules="required|min:5|max:3000"
                    >
                        <v-textarea
                            v-model="replyData.body"
                            :error-messages="errors"
                            :counter="3000"
                            rows="3"
                            label="Reply message"
                            required
                        ></v-textarea>
                    </ValidationProvider>
                    <v-btn
                        color="primary"
                        type="submit"
                        :disabled="invalid || replyLoading"
                    >
                        <v-progress-circular
                            indeterminate
                            color="primary"
                            size="20"
                            v-if="replyLoading"
                        ></v-progress-circular>
                        <span v-if="!hasReply">Submit reply</span>
                        <span v-if="hasReply">Save reply</span>
                    </v-btn>
                </ValidationObserver>
            </v-list-item-content>
        </v-list-item>
        <v-card-actions>
            <v-btn
                color="primary"
                v-if="canReply && !isReplying && !hasReply"
                @click="isReplying = true"
            >
                Reply
            </v-btn>
            <v-btn
                color="primary"
                v-if="canEditReview && isReplying"
            >
                Edit reply
            </v-btn>
            <v-btn
                color="primary"
                v-if="canEditReview && !isEditingReview"
                @click="isEditingReview = true"
            >
                Edit review
            </v-btn>
            <v-btn color="primary" v-if="isAdmin" @click="deleteReview">
                <v-progress-circular
                    indeterminate
                    color="primary"
                    size="20"
                    v-if="reviewDeleting"
                ></v-progress-circular>
                Delete review
            </v-btn>
            <v-btn color="primary" v-if="hasReply && isAdmin" @click="deleteReply">
                <v-progress-circular
                    indeterminate
                    color="primary"
                    size="20"
                    v-if="replyDeleting"
                ></v-progress-circular>
                Delete reply
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
import { required, max, min } from "vee-validate/dist/rules";
import Vue from "vue";
import { mapGetters, mapActions } from "vuex";
import {
    CREATE_REPLY,
    EDIT_REPLY,
    EDIT_REVIEW,
    DELETE_REVIEW,
    DELETE_REPLY
} from "../store/actions/reviews";
import {
    extend,
    ValidationObserver,
    ValidationProvider,
    setInteractionMode
} from "vee-validate";
import ReviewForm from "./ReviewForm";

export default {
    name: "review-item",
    props: ["review"],
    components: {
        ReviewForm,
        ValidationProvider,
        ValidationObserver
    },
    data() {
        return {
            removed: false,
            replyLoading: false,
            reviewLoading: false,
            replyData: {},
            reviewData: {},
            isReplying: false,
            isEditingReview: false,
            visitDateMenu: false,
            replyDeleting: false,
            reviewDeleting: false
        };
    },
    created() {
        if (this.review.owner_reply) {
            this.replyData = this.review.owner_reply;
        } else {
            this.replyData = {};
        }
        this.reviewData = this.review;
    },
    methods: {
        ...mapActions({
            createReply: CREATE_REPLY,
            editReply: EDIT_REPLY,
            editReview: EDIT_REVIEW,
            removeReview: DELETE_REVIEW,
            removeReply: DELETE_REPLY
        }),
        async submitReply() {
            this.replyLoading = true;
            try {
                let reviewId = this.reviewData.id;
                let replyData = this.replyData;
                let response = null;
                if (!this.replyData.id) {
                    response = await this.createReply({
                        reviewId,
                        replyData
                    });
                } else {
                    response = await this.editReply(replyData);
                }
                this.replyData = response.data;
                this.reviewData.owner_reply = this.replyData;
                this.flashMessage.success({
                    message: 'Successfully submitted reply',
                    time: 3000,
                    flashMessageStyle: {
                        backgroundColor: 'linear-gradient(#e66465, #9198e5)'
                    }
                });
            } catch (error) {
                this.flashMessage.error({message: 'Fail'});
                console.log(error);
            }
            this.isReplying = false;
            this.replyLoading = false;
        },
        async deleteReply() {
            this.replyDeleting = true;
            try {
                let response = await this.removeReply(this.replyData.id);
                Vue.set(this, "replyData", {});
            } catch (error) {
                console.log(error);
            }
            this.replyDeleting = false;
        },
        async deleteReview() {
            this.reviewDeleting = true;
            try {
                let response = await this.removeReview(this.reviewData.id);
                this.removed = true;
            } catch (error) {
                console.log(error);
            }
            this.reviewDeleting = false;
        },
        onReviewUpdated(data) {
            this.reviewData = data;
            this.isEditingReview = false;
        }
    },
    computed: {
        hasReply() {
            return "id" in this.replyData;
        },
        ...mapGetters(["isAdmin", "isOwner", "getUserId"]),
        canReply() {
            return (
                this.getUserId == this.review.restaurant_owner_id ||
                this.isAdmin
            );
        },
        canEditReview() {
            return this.isAdmin;
        }
    }
};
</script>
