<template>
    <div>
        <ValidationObserver
            ref="observer"
            v-slot="{ invalid }"
            tag="form"
            @submit.prevent="submit()"
        >
            <v-row>
                <v-col cols="12" md="8">
                    <ValidationProvider
                        v-slot="{ errors }"
                        name="Review content"
                        rules="required|max:3000"
                    >
                        <v-textarea
                            v-model="form.body"
                            :error-messages="errors"
                            :counter="3000"
                            rows="3"
                            label="Comment"
                        ></v-textarea>
                    </ValidationProvider>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" md="5">
                    <v-menu
                        ref="visitDateMenu"
                        v-model="visitDateMenu"
                        :close-on-content-click="false"
                        :return-value.sync="form.visit_date"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                    >
                        <template v-slot:activator="{ on }">
                            <ValidationProvider
                                v-slot="{ errors }"
                                name="Visit date"
                                rules="required"
                            >
                            <v-text-field
                                v-model="form.visit_date"
                                :error-messages="errors"
                                label="Visit date"
                                prepend-icon="mdi-calendar"
                                readonly
                                v-on="on"
                            ></v-text-field>
                            </ValidationProvider>
                        </template>
                        <v-date-picker
                            v-model="form.visit_date"
                            no-title
                            scrollable
                            :max="
                                            new Date()
                                                .toISOString()
                                                .substr(0, 10)
                                        "
                            min="1930-01-01"
                        >
                            <v-spacer></v-spacer>
                            <v-btn
                                text
                                color="primary"
                                @click="visitDateMenu = false"
                            >Cancel</v-btn>
                            <v-btn
                                text
                                color="primary"
                                @click="
                                            $refs.visitDateMenu.save(
                                                form.visit_date
                                            )
                                        ">
                                OK
                            </v-btn>
                        </v-date-picker>
                    </v-menu>
                </v-col>
                <v-col cols="12" md="6">
                    <ValidationProvider
                        v-slot="{ errors }"
                        name="Rating"
                        rules="required"
                    >
                    <v-rating color="black" v-model="form.rate" />
                        <span>{{ errors[0] }}</span>
                    </ValidationProvider>
                </v-col>
            </v-row>
            <v-btn
                color="primary"
                type="submit"
                :disabled="invalid || loading"
            >
                <v-progress-circular
                    indeterminate
                    color="primary"
                    size="20"
                    v-if="loading"
                ></v-progress-circular>
                <span>{{ isEditing ? 'Update' : 'Leave'}} review</span>
            </v-btn>

        </ValidationObserver>
    </div>
</template>

<script>
    import {
        extend,
        ValidationObserver,
        ValidationProvider,
        setInteractionMode
    } from "vee-validate";

    import { GET_RESTAURANT_REVIEWS } from "../store/actions/restaurants";
    import { CREATE_REVIEW, EDIT_REVIEW } from "../store/actions/reviews";
    import { mapActions } from 'vuex';

    setInteractionMode("eager");

    export default {
        name: 'review-form',
        components: {
            ValidationProvider,
            ValidationObserver
        },

        props: ["restaurant", "review"],

        data: () => ({
            loading: false,
            visitDateMenu: null,
            isEditing: false,
            formAction: 'createReview',
            form: {
                id: null,
                rate: 0,
                body: "",
                visit_date: null
            },
        }),

        created() {
            if (this.review) {
                this.form = {
                    id: this.review.id,
                    rate: this.review.rate,
                    body: this.review.body,
                    visit_date: this.review.visit_date,
                };
                this.isEditing = true;
                this.formAction = 'editReview'
            }
        },

        methods: {
            ...mapActions({
                getRestaurantReviews: GET_RESTAURANT_REVIEWS,
                createReview: CREATE_REVIEW,
                editReview: EDIT_REVIEW
            }),

            submit() {
                this.loading = true;

                let data = {},
                    action = this.formAction;

                if (!this.isEditing) {
                    data.restaurantId = this.restaurant.id;
                    data.reviewData = this.form;
                } else {
                    data = this.form;
                }

                this[action](data)
                    .then(() => {
                        this.loading = false;
                        this.flashMessage.success({
                            message: 'Successfully submitted review',
                            time: 3000,
                            flashMessageStyle: {
                                backgroundColor: 'linear-gradient(#e66465, #9198e5)'
                            }
                        });
                        this.clearForm();

                        this.$nextTick(() => {
                            this.$refs.observer.reset()
                        })

                        if (this.isEditing) {
                            this.updated(data)
                        } else {
                            this.created(data);
                        }
                    })
                    .catch(error => {
                        this.loading = false;
                        let message = error.response.data.message;
                        this.$refs.body.applyResult({
                            errors: [message]
                        });
                    });
            },

            updated(data) {
                this.$emit('updated', data);
            },

            created(data) {
                this.$emit('created', data);
            },

            clearForm() {
                this.form = {
                    id: null,
                    rate: 0,
                    body: "",
                    visit_date: null
                }
            }
        }
    }
</script>
